<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_bulk_insert_list_path(@bulk_insert_list) %> |
<%= link_to 'Back', bulk_insert_lists_path %>

<%= render 'shared/books_index', books: @bulk_inserted_books %>
